---
layout: default
---

<div class="home">

    <p class="site-description">{{ site.description }}</p>

    <h2 class="section-title">Latest Posts</h2>

    <ul class="post-list">
        {% for post in site.posts %}
        <li class="post-item">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} • {{ site.author }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
            {% if post.excerpt %}
            <div class="post-excerpt">
                {{ post.excerpt | strip_html | truncatewords: 30 }}
            </div>
            {% endif %}
            <a href="{{ post.url | relative_url }}" class="btn">Read More</a>
        </li>
        {% endfor %}
    </ul>

</div>